body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;

    font-family: "Roboto", sans-serif;
}

body > div {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.header,
.hero {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    margin-left: 150px;

    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    gap: 18px;
    margin-right: 150px;

    list-style: none;
    font-size: 18px;
    color: #E5E7EB
}

a {
    text-decoration: none;
    color: inherit;
}